/*Common*/
.subtitle {
  text-align: center;
  color: #d32229;
}

#small {
  height: 100%;
}

#small .item {
  height: 110px;
}

.disabled {
  color: #ccc !important;
  opacity: 0.7 !important;
  text-decoration-style: none;
  cursor: default;
}

.title-rule {
  margin-top: 0rem;
  margin-bottom: 3rem;
  border: 0;
  border-top: 5px solid #0479bd;
  width: 30px;
}

.card .btn-primary {
  display: block !important;
  width: 70%;
  margin: auto;
  margin-top: 15px;
}

.card .btn-primary-red {
  display: block !important;
  width: 70%;
  margin: auto;
  margin-top: 15px;
  background-color: #d32229;
  color: #fff;
}

section {
  min-height: 80vh;
  padding-top: 4rem;
  padding-bottom: 8rem;
  border-bottom: 2px solid #ccc;
}

/*.card .card-block .card-text::-webkit-scrollbar { 
    display: none; 
}*/

.card .card-block .card-text{
  text-align: justify;
  overflow-y: scroll;
  font-size: 16px;
  height: 190px;

}

.card {
  margin: auto;
  margin-bottom: 25px;
  width: 100%;
}
/*EndCommon*/

/*Home*/
  #home {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 3rem;
    height: 80vh;
  }
  
  #home .jumbotron {
    margin-bottom: 0;
    padding: 0;
    width: 100%;
  }

  #home .carousel-title {
    text-align: center;
    color: #fff;
  }

  #home .flex-center {
    display: flex;
    height: 80vh;
    justify-content: center;
    flex-direction: column;
  }

  #home .blur {
    background: rgba(0,0,0,0.5);
    padding: 10px;
  }

  #home .btn-primary {
    background-color: #0479bd;
    color: #fff;
  }

  #home .btn-primary-red {
    background-color: #d32229;
    color: #fff;
  }

  #home .grid-box {
    height: 80vh;
    width: 100%;
    padding-top: 2rem;
  }

  #home .grid-box .container-fluid, #home .grid-box .container-fluid .row {
    height: 100%;
    width: 100%;
    margin: 0;
  }

  #home .background {
    background-image: url(image/charlista.jpg);
    height: 80vh;
    width: 100%;
    background-size: cover;
  }

  #home .fl-cen {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #home h1 {
    color: #0479bd;
    text-align: center;
  }

  #home h1 span{
    color: #d32229;
  }

  #clockdiv {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }

  #clockdiv .day,
  #clockdiv .hour {
    color: #0479bd;
  }

  #clockdiv > div{
    color: #d32229;
  }

  .smalltext{
    padding-top: 5px;
    font-size: 16px;
    margin-right: 10px;
  }

  .date {
    text-align: center;
    margin-top: 20px;
  }
/*EndHome*/

/*grid image*/
#grid {
  width: 100%;
}

#grid img{
  width: 100%;
  height: 10rem;
  border: 2px solid #000;
  transition: all 5s;
  position: relative;
}

.item {
  z-index: 1;
  transition: all 0.4s;
}

.item:hover {
  /*background-color: rgb(211, 34, 41);*/
  background-color: #5d5d5d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(1.2);
  z-index: 100;
}

.item:hover img {
  opacity: 0.5;
}

.item a {
  text-decoration: none;
  width: 100%;
}

.item h4 {
  color: #d32229;
  text-align: center;
  font-size: 20px;
  margin-left: 10%;
  width: 80%;
  position: absolute;
  top: 30%;
}

#sesion card {
  transition: all 0.5s;
}

#sesion .active {
  transform: scale(1.1);
  border: 2px solid #d32229 !important;
}

#grid .item {
  height: 10rem;
}

.none {
  background-color: #000 !important;
}


#big1 .item, #big2 .item {
  height: 15rem;
}

#big1, #big2 {
  width: 100%;
}

#big1 img, #big2 img{
  width: 100%;
  height: 15rem;
  border: 4px solid #000;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/*info*/
#info {
  padding-top: 8rem;
}

#info .subtitle {

}

#info .title-rule {

}

#info .box {
  background-color: #d32229 !important;
  color: #fff;
  background-color: #d32229 !important;
  width: 100%;
  text-align: justify;
  border: 1px solid #5c5c5c;
  padding: 5%;
  box-shadow: 4px 4px 4px #5c5c5c;
  margin: auto;
  margin-bottom: 25px;
}

#info .box .box-title {
  margin-bottom: 25px;
  text-align: center;
}

/*EndInfo

/*Sesion*/
#sesion {
  background-color: #0479bd;
}

#sesion .subtitle {
  color: #fff;
}

#sesion .title-rule {
  border-color: #d32229;
}


#sesion .card {
  border-top-left-radius: 10%;
  border: 0;
  box-shadow: 4px 4px 4px #024369;
  min-height:35rem;
  margin-bottom: 5rem;
}

#sesion .card .box {
  border-top-left-radius: 20%;
  border-bottom-right-radius: 15%;
  text-align: center;
  background-color: #d32229;
  color: #fff;
  padding-top: 2rem;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*padding-bottom: 2rem;*/
}

#sesion .card .box .title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

#sesion .card .card-block .card-title .text-muted {
  margin-top: 0.5rem;
  font-size: 1.0rem;
  float: right;
}

#sesion .card .box .subtitle {
  font-size: 0.75rem;
}


#sesion .card .card-block footer cite {
  float: right;
}

/*EndSesion*/

/*chatters*/
#chatter {

}

#chatter .card {
  border-top-left-radius: 10%;
  box-shadow: 4px 4px 4px #5d5d5d;
  height: 38rem;
  margin-top: 5rem;
}

#chatter .card .card-title {
  min-height: 4rem;
}

#chatter .card .card-img-top {
  border-bottom: 4px solid #0479bd;
  min-height: 14rem;
  transition: all 0.3s;
  /*height: 14rem;*/
}

#chatter .card .card-img-top:hover {
  background-color: red;
  opacity: 0.7;
  min-height: 16rem;
}

#chatter .card footer .fa {
  color: #d32229;
  font-size: 30px;
  margin-right: 10px;
  float: right;
  padding-top: 0.5rem;
}

#chatter .card footer .fa:hover {
  color: #0479bd;
}



/*EndChatters*/

/*location*/
#location {
  heigh: 80vh;
  margin: 0 !important;
  padding: 0 !important;
}

#location .center {
  display: flex;
  justify-content: flex-end;
  height: 80vh;
}

#location iframe {
  width: 100%;
  height: 80vh;
  pointer-events: none;
  cursor: default;
  position: absolute;
  z-index: 0;
}

#location .info {
  position: relative;
  float: right;
  background-color: #fff;
  z-index: 100;
  width: 100%;
  padding: 5%;
  box-shadow: 4px 4px 4px #5d5d5d;
}
/*EndLocation*/

/*footer*/
.last {
  padding-top: 3rem;
  color: #fff;
  background-color: #000;
}

.last .center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  display: inline-block;
}

.last .first {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.last .first .image {
  width: 50%;
  margin-left: 25%;
}

.last .center .image {
  width: 30%;
  /*margin-left: 30%;*/
}

.last .text-center {
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 30px;
  font-size: 14px;
  margin-bottom: 2rem;
}

.last .fa {
  color: #fff;
  margin-right: 10px;
}

.last p {
  margin-bottom: 0;
}

.last .text-center span{
  color: #3d68c1;
}
/*EndFooter*/


/*header*/
.del-flex {
  display: show !important;
  width: auto !important;
}


.nav-link {
  color: #fff !important;
}

.active .nav-link {
  color: #d32229 !important;
}

.nav-link:hover {
  border-bottom: 1px solid #3d68c1 !important;
}

.navbar-brand img {
/*  height: 30px;
*/  width: 30%;
  margin-left: 75px;
}

.nav-link {
  text-align: center;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box {
  text-align: center;
  margin-bottom: 20px;
}

.flex-center img {
  height: 25px;
  margin-right: 15px;
}
/*Endheader*/
#sponsor .center img {
  height: 50px;
  margin-bottom: 30px;
}
@media(min-width:1024px) {

  #clockdiv div {
    margin-left: 10px;
  }

  #clockdiv .day,
  #clockdiv .hour {
    color: #fff;
    background: #0479bd;
  }

  #clockdiv .day span,
  #clockdiv .hour span{
    background: #024369;
  }

  #clockdiv > div{
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    background: #d32229;
    display: inline-block;
  }

  #clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #831418;
    display: inline-block;
  }

  .last .first {
    border-right: 2px solid #fff;
  }

  #info .box {
    width: 80%;
  }

  .card {
    margin-bottom: 0;
    width: 90%;
  }

  #info .box {
    margin-bottom: 0;
    height: 250px;
  }
  .test {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    margin-right: 75px;
  }

  .navbar {
      padding: 20px 0;
      -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
      -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
      transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
      padding: 0;
  }

  .title-rule {
    width: 5%;
  }
}

#sponsor .center {
  width: 100%;
  text-align: center;
}

#sponsor .center img {
  height: 100px;
}

@media(min-width:2048px) {
  section {
    min-height: 50vh !important;
    padding-top: 4rem;
    padding-bottom: 8rem;
    border-bottom: 2px solid #ccc;
  }
}
